# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Netlify
.netlify
netlify/functions/*.js.map

# search_history.csv
search_history.csv
